* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --back-url: url(./assets/bg-mobile.jpg);/*background*/
    --stroke-color: rgba(255, 255, 255, 0.5); /*bordas*/
    --surface-color: rgba(255,255,255, 0.05); /*cor do fundo*/
    --surface-color-hover: rgba(0,0,0, 0.02); /*ao passar o mouse*/
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
    --surface-color-opt: rgb(35, 35, 35);


}



.light {
    --text-color: black; /*Variavel p/ cor do texto*/
    --back-url: url(assets/bg-mobile-light.jpg); /*variavel para cor do fundo*/
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0,0,0, 0.05);
    --surface-color-hover: rgba(255,255,255, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
    --surface-color-opt: rgb(220, 220, 220);

}


body {
    background: var(--back-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-width: 300px;
    margin: auto;
}

@media (max-width: 420px){
    #entidade{
        font-size: 10px;
    }
}
@media (max-width: 350px){
    #pontfinal{
        font-size: 14px;
    }
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    /*border: 1px solid red;*/
    max-width: 500px;
    min-width: 300px;
    /*height: 712px;*/
    margin: 56px auto 0px;
    text-align: center;
    padding: 0 24px;
}

body * {
    font-family: 'inter', sans-serif;
    color: var(--text-color);
}

#container {
    /*border: 1px solid red;*/
    max-width: 500px;
    min-width: 300px;
    /*height: 712px;*/
    margin: 56px auto 0px;
    text-align: center;
    padding: 0 24px;
}

/* profile */
#profile{
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p{
    font-weight: 500;
    line-height: 24px;

    margin-top: 8px;
}

/* switch */
#switch{
    width: 64px;
    position: relative;

    margin: 4px auto;
}


#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat
    center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-out 0.3s;
}

.light #switch button{
    animation: slide-in 0.3s forwards;
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

#switch button:hover{
    outline: 8px  solid var(--highlight-color);
}

/* links */
ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0px;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    
    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}


.produtos{
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 8px 8px;
    flex-wrap: wrap; 
    
}

.produtos img {
    max-width: 200px;
    width: 50%;
    border: 2px solid var(--surface-color-hover);
    border-radius: 8px;
    background: var(--surface-color-hover);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    margin: 0 5px;
    transition: background 0.2s;
    
}
@media (max-width:488px){
    .info-produto > .nome{
        font-size: 20px;
    }
}
.info-produto {
    width: 40%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px; /* ou outro valor conforme necessário para ajustar a posição */
}

.descricao {
    font-size: medium;
    margin-top: 5px; /* ou outro valor conforme necessário para ajustar a posição */
    border: 2px solid var(--surface-color-hover);
    border-radius: 4px;
    background: var(--surface-color-hover);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: background 0.2s;
}
.nome{
    text-align: center;
    flex-grow: 1;

    font-size: 25px;
    
    border: 4px solid var(--surface-color-hover);
    border-radius: 6px;
    background: var(--surface-color-hover);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    margin-bottom: 10px;
    transition: background 0.2s;
}

.produtos:hover > img{
    background: var(--surface-color);
}

.produtos:hover > div > p{
    background: var(--surface-color);
}

ul li a:hover{
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

#social-links{
    display: flex;
    justify-content: center;

    padding: 24px 0px;

    font-size: 40px;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover{
    background: var(--highlight-color);

}
footer{
    font-size: 14px;
    padding: 24px 0;
    text-align: center;
}

/* media queries */
@media (min-width: 700px) {
    :root{
        --back-url: url(./assets/bg-desktop.jpg)
    }

    .light{
        --back-url: url(./assets/bg-desktop-light.jpg)
    }
}

/* animation */
@keyframes slide-in {
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}

@keyframes slide-out {
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}